
  <section class="module content map">
    <div class="container">
      <h3 class="map">Scroll or swipe through the list below and click on your choice to view it on the map or get directions.</h3>
      <div class="horizontal"> <!--holds the list-->
        <div class="table"> 
          <article class="list-group-item" id="class" ng-repeat="bar in bars | orderBy : 'title'">
            <a href="#" ng-click="openInfoWindow($event, bar)"> 
              <div class="img-wrap"> 
                <img id="bar-image" class="bar-image" src={{bar.image}} />
                <!-- End Image Gallery -->
              </div>   
              <h3 class="box-title">{{bar.name}}</h3>  
            </a>
          </article> 
        </div>
      </div>
      <div class="map-container">   
        <div class="directions">
          <input class="button hideit" ng-click="clearMarkers()" type="button" value="Hide Markers">
          <input class="button showit" type="button" value="Show All Markers">
            <h3 class="map">Click on a map marker to view bar details or get directions.</h3>
            <div id="panel"></div>   
            <div id="spinHere"></div>         
            <input type='button' id="clearPanel" ng-click="clearPanel()" class="button" value='Clear Directions'>
        </div> 
       <div id="map"></div>                
      </div>
</div>
</section>
<div class="clear"></div>



